<!doctype html>

<html>
<head>
<title>背背單字吧</title>
<link rel="stylesheet" type="text/css" href="../static/css/pop_quiz.css">
</head>

<body>
	<div id="wrapper">
	<p>Memorize some volcabulary</p>
	<form>
	<p1>來加個單字吧</p1><br>
	<p1>英文單字</p1>: <input type="text" value="" id="vol" ><br>
	<p1>中文解釋</p1>: <input type="text" value="" id="vol_chi"><br>
	<p1>詞性</p1>: <input type="text" value="" id="vol_pos"><br>
	<input type="submit" value="enter">
	</form>
	</div>
</body>

</html>


<script type="text/javascript">

</script>